body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.videoBlock{
  border: 2px solid white;
  border-radius: 6px;
}
.player-button{
  border: cyan 2px solid;
  margin-top: -100px;
}

.videoBlock {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

video {
  width: 100%;
  display: block;
}


:fullscreen {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:2147483647;
  box-sizing:border-box;
  margin:0;
  width:100%;
  height:100%;
}
:not(:root):fullscreen{
  margin:100px;
  border-radius: 100px;
}
